* {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;                                           
}

html, body {
    background-color: rgb(49, 49, 49) !important;
    height: 100%;
}

.whiteText {
    color:white;
    text-shadow: 0 0 1px black;
}

