<div style="background-image: linear-gradient(rgb(116, 8, 8), rgb(67, 67, 67));height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;">
    <div class="centered" style="text-shadow: 0 0 3px #ffffff;">
        <div style="text-align: center;">
            <h1 class="mb-2" style="font-size: 64px;">You died...</h1>
            <h3 class="mb-2">Better luck next life.</h3>
            <a href="/"><button type="button" class="mb-2 btn btn-outline-danger btn-lg">Back to title</button></a>
        </div>
    </div>
</div>