<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand" style="margin-left:20px"><b>{{this.game.playerName}}</b></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="healthBar" title="If this drops to 0, you will die! You can restore health by resting, eating food, or using potions."><b>Health:</b> {{this.game.$playerHealth.value}}/100</span>
        </li>
        <li class="nav-item">
            <span class="hungerBar" title="If this drops to 0, you will die! You can restore hunger by eating food."><b>Hunger:</b> {{this.game.$playerHunger.value}}/100</span>
        </li>
        <li class="nav-item">
            <span class="thirstBar" title="If this drops to 0, you will die! You can restore health by drinking liquids or eating specific food."><b>Thirst:</b> {{this.game.$playerThirst.value}}/100</span>
        </li>
        <li class="nav-item">
          <span class="status" title="How are you doing?"><b>Status: </b></span><span class="{{this.game.playerStatus.statusName}}" title="{{this.game.playerStatus.statusDescription}}">{{this.game.playerStatus.statusName}}</span>
        </li>
        <li class="nav-item">
            <span [ngClass]="inventoryOpen ? 'inventoryBtn selected' : 'inventoryBtn'" title="Open your inventory." (click)="toggleInventory()"><b>Inventory</b></span>
        </li>
        <li class="nav-item">
          <span [ngClass]="equipmentOpen ? 'inventoryBtn selected' : 'inventoryBtn'" title="Open your equipped items." (click)="toggleEquipment()"><b>Equipment</b></span>
      </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="inventoryBtn nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Cheat.">
            <strong>Debug</strong>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="debugChangeName()">
              <strong>Change Name</strong>
            </a>
            <a class="dropdown-item" (click)="debugChangeValue('Health')">
              <strong>Change Health</strong>
            </a>
            <a class="dropdown-item" (click)="debugChangeValue('Hunger')">
              <strong>Change Hunger</strong>
            </a>
            <a class="dropdown-item" (click)="debugChangeValue('Thirst')">
              <strong>Change Thirst</strong>
            </a>
            <a class="dropdown-item" (click)="debugChangeStatus()">
              <strong>Change Status</strong>
            </a>
            <a class="dropdown-item" (click)="debugGiveItem()">
              <strong>Give Item</strong>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


  <div class="centered" *ngIf="inventoryOpen">
    <h2 class="whiteText">Inventory<span class="closeInventory" (click)="toggleInventory()">X</span></h2>
    <p class="whiteText"><img class="itemImg" src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/1/11/Chest_(S)_BE1.png" style="height:32px" title="This is your carrying capacity!">{{this.game.inventoryWeight}} / {{this.game.inventoryMax}}</p>
    <div class="grid-container">
      <ng-container *ngFor="let item of this.game.$playerInventory.value; let i = index">
        <ng-container *ngIf="item; else emptySlot">
          <div class="grid-item {{item.rarity}}">
            <ng-container [ngSwitch]="item.type">
              <img *ngSwitchCase="'Weapon'" class="inventoryItem itemImg" src="{{item.picture}}" title="[CLICK TO EQUIP]&#013;{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}&#013;&#013;Durability: {{item.durability}}" (click)="equipItem(item, i)">
              <img *ngSwitchCase="'Head Armor'" class="inventoryItem itemImg" src="{{item.picture}}" title="[CLICK TO EQUIP]&#013;{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}&#013;&#013;Durability: {{item.durability}}" (click)="equipItem(item, i)">
              <img *ngSwitchCase="'Body Armor'" class="inventoryItem itemImg" src="{{item.picture}}" title="[CLICK TO EQUIP]&#013;{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}&#013;&#013;Durability: {{item.durability}}" (click)="equipItem(item, i)">
              <img *ngSwitchCase="'Leg Armor'" class="inventoryItem itemImg" src="{{item.picture}}" title="[CLICK TO EQUIP]&#013;{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}&#013;&#013;Durability: {{item.durability}}" (click)="equipItem(item, i)">
              <img *ngSwitchCase="'Boot Armor'" class="inventoryItem itemImg" src="{{item.picture}}" title="[CLICK TO EQUIP]&#013;{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}&#013;&#013;Durability: {{item.durability}}" (click)="equipItem(item, i)">
              <img *ngSwitchCase="'Tool'" class="inventoryItem itemImg" src="{{item.picture}}" title="{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}&#013;&#013;Durability: {{item.durability}}">
              <img *ngSwitchCase="'Button'" class="inventoryItem itemImg" src="{{item.picture}}" title="{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}">
              <img *ngSwitchCase="'Consumable'" class="inventoryItem itemImg" src="{{item.picture}}" title="[CLICK TO USE]&#013;{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}" (click)="useConsumable(item, i)">
              <img *ngSwitchDefault class="inventoryItem itemImg" src="{{item.picture}}" title="{{item.name}}&#013;[{{item.rarity}} {{item.type}}]&#013;&#013;{{item.description}}">
            </ng-container>
          </div>
        </ng-container>
        <ng-template #emptySlot>
          <div class="grid-item"></div>
        </ng-template>
      </ng-container>
    </div>
  </div>

  <div class="centered" *ngIf="equipmentOpen">
    <h2 class="whiteText">Equipment<span class="closeInventory" (click)="toggleEquipment()">X</span></h2>
    <p class="whiteText"><img class="itemImg" src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/db/Golden_Sword_JE3_BE2.png" style="height:32px" title="Current Damage">{{this.game.currentDamage}} <img class="itemImg" src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/6/67/Golden_Helmet_(item)_JE3_BE3.png" style="height:32px" title="Current Defense">{{this.game.currentDefense}}</p>
    <div class="flex-container whiteText">
      
      <ng-container *ngIf="this.game.equippedWeapon; else noWeapon">
          <div class="flex-item {{this.game.equippedWeapon.rarity}}"><img class="itemImg" src="{{this.game.equippedWeapon.picture}}" style="height:96px" title="[CLICK TO UNEQUIP]&#013;{{this.game.equippedWeapon.name}}&#013;[{{this.game.equippedWeapon.rarity}} {{this.game.equippedWeapon.type}}]&#013;&#013;{{this.game.equippedWeapon.description}}&#013;&#013;Durability: {{this.game.equippedWeapon.durability}}" (click)="this.game.unequipItem(this.game.equippedWeapon)"></div>
      </ng-container>
      <ng-template #noWeapon>
        <div class="flex-item"><img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/d/db/Golden_Sword_JE3_BE2.png" style="height:96px;opacity: 0.1;"></div>
      </ng-template>

      <ng-container *ngIf="this.game.equippedHead; else noHelm">
          <div class="flex-item {{this.game.equippedHead.rarity}}"><img class="itemImg" src="{{this.game.equippedHead.picture}}" style="height:96px" title="[CLICK TO UNEQUIP]&#013;{{this.game.equippedHead.name}}&#013;[{{this.game.equippedHead.rarity}} {{this.game.equippedHead.type}}]&#013;&#013;{{this.game.equippedHead.description}}&#013;&#013;Durability: {{this.game.equippedHead.durability}}" (click)="this.game.unequipItem(this.game.equippedHead)"></div>
      </ng-container>
      <ng-template #noHelm>
        <div class="flex-item"><img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/6/67/Golden_Helmet_(item)_JE3_BE3.png" style="height:96px;opacity: 0.1;"></div>
      </ng-template>

      <ng-container *ngIf="this.game.equippedChest; else noChest">
        <div class="flex-item {{this.game.equippedChest.rarity}}"><img class="itemImg" src="{{this.game.equippedChest.picture}}" style="height:96px" title="[CLICK TO UNEQUIP]&#013;{{this.game.equippedChest.name}}&#013;[{{this.game.equippedChest.rarity}} {{this.game.equippedChest.type}}]&#013;&#013;{{this.game.equippedChest.description}}&#013;&#013;Durability: {{this.game.equippedChest.durability}}" (click)="this.game.unequipItem(this.game.equippedChest)"></div>
      </ng-container>
      <ng-template #noChest>
        <div class="flex-item"><img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/f/f6/Golden_Chestplate_(item)_JE1_BE1.png" style="height:96px;opacity: 0.1;"></div>
      </ng-template>

      <ng-container *ngIf="this.game.equippedLegs; else emptyLegs">
        <div class="flex-item {{this.game.equippedLegs.rarity}}"><img class="itemImg" src="{{this.game.equippedLegs.picture}}" style="height:96px" title="[CLICK TO UNEQUIP]&#013;{{this.game.equippedLegs.name}}&#013;[{{this.game.equippedLegs.rarity}} {{this.game.equippedLegs.type}}]&#013;&#013;{{this.game.equippedLegs.description}}&#013;&#013;Durability: {{this.game.equippedLegs.durability}}" (click)="this.game.unequipItem(this.game.equippedLegs)"></div>
      </ng-container>
      <ng-template #emptyLegs>
        <div class="flex-item"><img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/39/Golden_Leggings_(item)_JE1_BE1.png" style="height:96px;opacity: 0.1;"></div>
      </ng-template>
      
      <ng-container *ngIf="this.game.equippedBoots; else emptyBoots">
        <div class="flex-item {{this.game.equippedBoots.rarity}}"><img class="itemImg" src="{{this.game.equippedBoots.picture}}" style="height:96px" title="[CLICK TO UNEQUIP]&#013;{{this.game.equippedBoots.name}}&#013;[{{this.game.equippedBoots.rarity}} {{this.game.equippedBoots.type}}]&#013;&#013;{{this.game.equippedBoots.description}}&#013;&#013;Durability: {{this.game.equippedBoots.durability}}" (click)="this.game.unequipItem(this.game.equippedBoots)"></div>
      </ng-container>
      <ng-template #emptyBoots>
        <div class="flex-item"><img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/8/8d/Golden_Boots_(item)_JE1_BE1.png" style="height:96px;opacity: 0.1;"></div>
      </ng-template>
    </div>
  </div>